html {
	overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	background-color: #212121;
	font-family: 'Roboto', sans-serrif;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-weight: 400;
}

p {
	color: white;
}

.container {
	margin: 0 auto;
	padding: 8px;
	max-width: 960px;
}

/* fix webkit autocomplete coloring */

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: white !important;
}